<app-container>
  <div class="bg-gray-100 h-full p-10 overflow-y-auto w-full super-scroll">
    <ng-container *ngIf="menuList.length > 0; else emptyMenu">
      <div class="grid md:grid-cols-3 2xl:grid-cols-4 md:gap-5 2xl:gap-10">
        <div *ngFor="let menu of menuList" class="md:h-80 2xl:h-96">
          <app-menu-card [menu]="menu" [isMenuAdded]="isMenuOrdered(menu)"
                         (addMenuToCart)="addMenuToCart($event)"></app-menu-card>
        </div>
      </div>
    </ng-container>
  </div>
</app-container>

<ng-template #emptyMenu>
  <div class="flex flex-col justify-center items-center w-full h-1/2">
    <span class="font-light italic text-gray-400 text-lg">"Menu are empty"</span>
    <span class="font-light text-gray-400 text-sm">Please change your order category</span>
  </div>
</ng-template>
