<div class="flex flex-col h-full">
  <div class="flex justify-between items-center border-b-2 md:px-6 2xl:px-10 py-8 border-gray-100">
    <div class="flex">
      <div class="md:w-10 2xl:w-14">
        <img src="assets/icons/avatar_girl.png" alt="User">
      </div>
      <div class="flex flex-col justify-center ml-4">
        <span class="text-gray-800 font-semibold 2xl:text-base md:text-xs">Angie Putri</span>
        <span class="text-gray-400 font-medium 2xl:text-base md:text-xs">Cashier</span>
      </div>
    </div>
    <div>
      <mat-icon fontSet="material-icons-outlined" class="md:scale-125 2xl:scale-150 text-gray-600">notifications_active</mat-icon>
    </div>
  </div>
  <div class="flex-1 flex flex-col justify-between md:px-4 2xl:px-8 pt-8 md:pb-4 2xl:pb-14 overflow-auto super-scroll">
    <div class="h-15">
      <ng-container *ngFor="let order of order.orderedMenu">
        <div class="flex bg-gray-200 py-2 px-2 rounded-2xl mb-3">
          <div class=" basis-1/4 overflow-hidden mr-1">
            <img src="/assets/images/{{order.menu.icon}}" [alt]="order.menu.name" class="h-12 bg-cover">
          </div>
          <div class="flex-1 flex flex-col justify-between">
            <div class="flex justify-between items-start 2xl:mb-4">
              <span class="md:text-xs 2xl:text-base text-gray-800 font-semibold">{{order.menu.name}}</span>
              <mat-icon [matMenuTriggerFor]="orderOption" class="hover:cursor-pointer">more_horiz</mat-icon>
              <mat-menu #orderOption="matMenu">
                <button mat-menu-item (click)="removeMenuFromOrder(order.menu)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove</span>
                </button>
              </mat-menu>
            </div>
            <div class="flex justify-between">
              <span class="md:text-xs 2xl:text-base text-red-400 font-semibold">${{order.menu.price.toFixed(2)}}</span>
              <div class="flex">
                <button class="bg-white rounded-full w-5 h-5 flex items-center justify-center">
                  <mat-icon class="text-gray-300 scale-50 text-center" (click)="decreaseOrderQuantity(order.menu)">remove</mat-icon>
                </button>
                <span class="md:text-sm 2xl:text-base font-semibold text-gray-800 px-2">{{order.total}}</span>
                <button class="bg-red-500 rounded-full w-5 h-5 flex items-center justify-center">
                  <mat-icon class="text-white scale-50 text-center" (click)="increaseOrderQuantity(order.menu)">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex flex-col basis-1/6">
      <div class="flex flex-col">
        <div class="flex justify-between">
          <span class="text-gray-400 font-medium md:text-xs 2xl:text-base">Subtotal</span>
          <span class="text-gray-500 font-semibold md:text-xs 2xl:text-base">{{subTotal | currency}}</span>
        </div>
        <div class="flex justify-between mt-2">
          <span class="text-gray-400 font-medium md:text-xs 2xl:text-base">Tax (11%)</span>
          <span class="text-gray-500 font-semibold md:text-xs 2xl:text-base">{{tax | currency}}</span>
        </div>
      </div>
      <div class="border-b-2 border-dashed my-5"></div>
      <div class="flex justify-between">
        <span class="text-gray-800 font-semibold md:text-sm 2xl:text-base">Grand Total</span>
        <span class="text-gray-800 font-semibold md:text-sm 2xl:text-base">{{grandTotal | currency}}</span>
      </div>
      <div class="md:mt-6 2xl:mt-10">
        <button class="text-white w-full bg-red-400 md:h-10 2xl:h-12 rounded-3xl hover:bg-red-500 transition-all">Print Bills</button>
      </div>
    </div>
  </div>
</div>
