<div class="h-full w-32 md:py-4 2xl:py-8 flex flex-col justify-between">
  <div class="flex justify-center md:mb-4 2xl:mb-10">
    <img src="/assets/icons/hamburger.png" alt="Foodie Burger" class="md:w-12 2xl:w-16">
  </div>
  <div class="flex-1 flex flex-col justify-between overflow-auto super-scroll">
    <ng-container *ngFor="let items of navigationBarItems; let index = index">
      <ng-container *ngIf="index === 0">
        <div class="flex-grow flex flex-col justify-around pt-3 items-center">
          <ng-container
            *ngFor="let item of items.navigations"
            [ngTemplateOutlet]="item.id === 2 ? selectedItemMenu : itemMenu"
            [ngTemplateOutletContext]="{item}"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="index === 1">
        <div class="flex-grow flex flex-col border-t-2 border-gray-100 pt-10 mt-5 items-center">
          <ng-container
            *ngFor="let item of items.navigations"
            [ngTemplateOutlet]="item.id === 2 ? selectedItemMenu : itemMenu"
            [ngTemplateOutletContext]="{item}"></ng-container>
        </div>
      </ng-container>
    </ng-container>
    <div class="flex justify-center">
      <div class="flex flex-col items-center px-8 md:py-1 2xl:py-3 hover:cursor-pointer w-1/3 rounded-xl hover:bg-red-200 transition">
        <mat-icon fontSet="material-icons-outlined" class="text-gray-200 2xl:scale-125">logout</mat-icon>
        <span class="text-gray-400 mt-2 md:font-normal 2xl:font-medium md:text-xs">Logout</span>
      </div>
    </div>
  </div>
</div>

<ng-template #selectedItemMenu let-item="item">
  <div class="flex flex-col justify-center items-center px-8 md:py-1 2xl:py-3 bg-red-500 md:w-1/4 2xl:w-1/3 rounded-xl md:mb-5">
    <mat-icon fontSet="material-icons-outlined" class="text-white 2xl:scale-125">{{item?.icon}}</mat-icon>
    <span class="text-white md:mt-1 2xl:mt-3.5 md:font-normal 2xl:font-medium md:text-xs">{{item?.name}}</span>
  </div>
</ng-template>

<ng-template #itemMenu let-item="item">
  <div class="flex flex-col items-center px-8 md:py-1 2xl:py-3 hover:cursor-pointer w-1/3 rounded-xl hover:bg-red-200 transition md:mb-5">
    <mat-icon fontSet="material-icons-outlined" class="text-gray-200 2xl:scale-125">{{item?.icon}}</mat-icon>
    <span class="text-gray-400 md:mt-2 2xl:mt-3.5 md:font-normal 2xl:font-medium md:text-xs">{{item?.name}}</span>
  </div>
</ng-template>
