<div class="bg-white flex flex-col rounded-3xl md:px-4 2xl:px-8 pb-6 justify-between h-full">
  <div class="flex items-start justify-center md:h-44 2xl:h-56">
    <img src="assets/images/{{menu.icon}}" [alt]="menu.name" class="md:h-44 2xl:h-56 bg-cover">
  </div>
  <div class="flex">
    <div class="flex-grow">
      <span class="font-semibold text-gray-600 md:text-sm 2xl:text-base">{{menu.name}}</span>
    </div>
    <span class="font-semibold text-red-400 md:text-sm 2xl:text-base">${{menu.price.toFixed(2)}}</span>
  </div>
  <div>
    <span class="font-medium text-gray-500 md:text-xs 2xl:text-sm">{{menu.description}}</span>
  </div>
  <button class="w-full h-10 font-medium rounded-3xl"
          [ngClass]="isMenuAdded ? 'border-2 border-red-400 hover:cursor-default': 'bg-red-500 text-white'"
          [disabled]="isMenuAdded"
          (click)="onMenuAddToCart()">{{isMenuAdded ? 'Ordered' : 'Add to Cart'}}
  </button>
</div>


