<div class="flex md:h-36 2xl:h-44 border-x-2 border-gray-100 px-8 flex-col justify-end">
  <div class="flex flex-1 justify-between items-center">
    <div class="flex flex-col">
      <span class="md:text-2xl 2xl:text-3xl font-semibold">Foodie Burger</span>
      <span class="font-normal text-neutral-400">{{todayDate | date:'fullDate'}}</span>
    </div>
    <div class="flex justify-between items-center bg-gray-200 rounded-3xl w-80 h-12 pl-5">
      <mat-icon class="mr-2">search</mat-icon>
      <input type="text" placeholder="Search" class="flex-1 w-full h-full focus:outline-0 bg-gray-200 text-gray-800">
      <button class="hover:bg-red-500 h-full ml-2 w-20 rounded-3xl bg-red-400"><mat-icon class="text-white">tune</mat-icon></button>
    </div>
  </div>
  <div class="flex justify-between md:w-1/2 2xl:w-1/3">
    <ng-container *ngFor="let category of categories">
      <div class="hover:cursor-pointer" (click)="onCategoryChange(category)">
        <span class="font-medium text-gray-400" [ngClass]="selectedCategory.id === category.id ? 'text-red-400' : 'ext-gray-400 hover:text-red-200'">{{category.name}}</span>
        <div class="h-1 rounded-t mt-4" [ngClass]="selectedCategory.id === category.id ? 'bg-red-400' : 'bg-white'"></div>
      </div>
    </ng-container>
  </div>
</div>
