<div class="h-screen w-screen md:px-0 md:py-0 2xl:py-36 bg-gray-300 flex justify-center">
  <div class="flex bg-white h-full md:w-full 2xl:w-4/5 2xl:rounded-3xl overflow-hidden">
    <app-navigation-bar [navigationBarItems]="navigationBar"></app-navigation-bar>
    <div class="flex-1 flex flex-col">
      <app-header></app-header>
      <ng-content></ng-content>
    </div>
    <div class="md:w-1/5 2xl:w-1/6">
      <app-side-bar></app-side-bar>
    </div>
  </div>
</div>
