/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.super-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(160, 144, 144, 0.3);
  background-color: #F5F5F5;
}

.super-scroll::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}

.super-scroll::-webkit-scrollbar-thumb
{
  background-color: #D1D5DB;
  border: 2px solid #D1D5DB;
}
